:root {
	--main-bg-color: #fff;
	--main-text-color: #888888;
}

[data-theme="dark"] {
	--main-bg-color: #1e1f26;
	--main-text-color: #ccc;
}

* {
	box-sizing: border-box;
	/* 		transition: all ease 0.2s; */
}

body {
    font-family: monospace;
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	background-color: #1e1f26;
    color: #ccc;
	position: relative;
	transition: all ease 0.2s;
}
#alarm {
	font-family: monospace;
	text-transform: uppercase;
	outline: none;
	padding: 0.5rem 1rem;
	background-color: #1e1f26;
	color: #ccc;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	cursor: pointer;
	transition: all ease 0.3s;
}

input {
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
